@import url('https://cdn.fontcdn.ir/Font/Vazir/Vazir.css');
/*
Published by Mizegerd.agency
*/
body {
    font-family: 'Vazir', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('../images/backinstall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.container {
    background-color: rgba(44, 44, 84, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    color: #fff;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #e63946;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f1faee;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgba(69, 69, 112, 0.8);
    color: #fff;
    font-family: 'Vazir', sans-serif;
}

button {
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Vazir', sans-serif;
}

button:hover {
    background-color: #d62839;
}

.error-message {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}

.animated-panel {
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    label, input, button {
        font-size: 12px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin: 0 0 10px 0;
    }

    input, button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        width: 100%;
    }

    h1 {
        font-size: 18px;
    }

    label, input, button {
        font-size: 10px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin: 0 0 10px 0;
    }

    input, button {
        width: 100%;
    }
}
